.container {
  padding: 3em;
}
mat-card {
  padding: 2rem;

  mat-card-title {
    font-weight: bold;
    font-size: 2vw;

    text-align: center;
  }
  mat-card-subtitle {
    text-align: center;
    margin: 1em;
    font-size: 3vw;
  }
  mat-card-content {
    text-align: center;
  }
}
#chartdiv {
  width: 50%;
  margin: auto;
}
